ChemPoint.GP.Services/ChemPoint.GP.POBL/Service References/EconnectServiceReference/mex1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.GP.eConnect" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.GP.eConnect" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Microsoft/Dynamics/GP/eConnect/mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="IncrementDecrement">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Decrement" />
      <xs:enumeration value="Increment" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="IncrementDecrement" nillable="true" type="tns:IncrementDecrement" />
  <xs:complexType name="eConnectSqlFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Errors" nillable="true" type="tns:eConnectSqlErrorCollection" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="eConnectSqlFault" nillable="true" type="tns:eConnectSqlFault" />
  <xs:complexType name="eConnectSqlErrorCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="eConnectSqlError" nillable="true" type="tns:eConnectSqlError" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="eConnectSqlErrorCollection" nillable="true" type="tns:eConnectSqlErrorCollection" />
  <xs:complexType name="eConnectSqlError">
    <xs:sequence>
      <xs:element minOccurs="0" name="Class" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ErrorClass" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="LineNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="Procedure" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Server" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="eConnectSqlError" nillable="true" type="tns:eConnectSqlError" />
  <xs:complexType name="eConnectFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="eConnectFault" nillable="true" type="tns:eConnectFault" />
  <xs:simpleType name="RMPaymentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RMInvoices">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RMScheduledPayments">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RMDebitMemos">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RMFinanceCharges">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RMServiceRepairs">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RMWarranty">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RMCreditMemo">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RMReturn">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RMPayments">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RMPaymentType" nillable="true" type="tns:RMPaymentType" />
  <xs:simpleType name="IVDocType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="IVAdjustment">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="IVVariance">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="IVTransfer">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="IVDocType" nillable="true" type="tns:IVDocType" />
  <xs:simpleType name="SopType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SOPQuote">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SOPOrder">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SOPInvoice">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SOPReturn">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SOPBackOrder">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SopType" nillable="true" type="tns:SopType" />
  <xs:complexType name="ArrayOfRollBackDocument">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RollBackDocument" nillable="true" type="tns:RollBackDocument" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRollBackDocument" nillable="true" type="tns:ArrayOfRollBackDocument" />
  <xs:complexType name="RollBackDocument">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocumentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentTransactionType" type="tns:TransactionType" />
      <xs:element minOccurs="0" name="DocumentType" nillable="true" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RollBackDocument" nillable="true" type="tns:RollBackDocument" />
  <xs:simpleType name="TransactionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SOP" />
      <xs:enumeration value="GL" />
      <xs:enumeration value="RM" />
      <xs:enumeration value="PM" />
      <xs:enumeration value="POP" />
      <xs:enumeration value="POPReceipt" />
      <xs:enumeration value="IVTrans" />
      <xs:enumeration value="IVTransfer" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TransactionType" nillable="true" type="tns:TransactionType" />
</xs:schema>